@charset "UTF-8";
/*------------ For screens smaller than 768px -----------*/
body{
  background: pink;
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: #987284;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body{
    background: #DC7F9B;
  }
}
